https://www.section.io/engineering-education/sentiment-analysis-with-spacy-and-scikit-learn/

https://realpython.com/natural-language-processing-spacy-python/

In [4]:
# # Run once
# !pip install -U spacy
# Run in terminal: python -m spacy download en_core_web_sm

In [2]:
%load_ext autoreload

%autoreload 2

# Standart modules
import os
import pandas as pd

# NPL - Sentiment Analysis
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
columns = ["Message", "Target"]
df_yelp = pd.read_table('data/yelp_labelled.txt', header=None, names=columns)
df_imdb = pd.read_table('data/imdb_labelled.txt', header=None, names=columns)
df_amz = pd.read_table('data/amazon_cells_labelled.txt', header=None, names=columns)

In [4]:
df = pd.concat([df_yelp, df_imdb, df_amz], keys = ['Yelp','IMDB','Amazon'])

In [5]:
df

                                                      Message  Target
Yelp   0                             Wow... Loved this place.       1
       1                                   Crust is not good.       0
       2            Not tasty and the texture was just nasty.       0
       3    Stopped by during the late May bank holiday of...       1
       4    The selection on the menu was great and so wer...       1
...                                                       ...     ...
Amazon 995  The screen does get smudged easily because it ...       0
       996  What a piece of junk.. I lose more calls on th...       0
       997                       Item Does Not Match Picture.       0
       998  The only thing that disappoint me is the infra...       0
       999  You can not answer calls with the unit, never ...       0

[2748 rows x 2 columns]

# Removing Stop Words

In [33]:
nlp = spacy.load("en_core_web_sm")

In [19]:
stopwords = list(STOP_WORDS)

In [30]:
len(STOP_WORDS)

326

In [32]:
for stop_word in list(stopwords)[:10]:
    print(stop_word)

by
‘s
an
her
be
or
'd
serious
whereupon
therein

In [20]:
# remove stop words
for word in stopwords:
    if word.is_stop == False:
        print('IN')
    # if word.is_stop == False and not word.is_punct:

AttributeError: 'str' object has no attribute 'is_stop'

In [26]:
stopwords_ = npl.Defaults.stop_words

In [29]:
for word in stopwords_:
    print(word.is_stop)

AttributeError: 'str' object has no attribute 'is_stop'

In [34]:
custom_about_text = (
     "Gus Proto is a Python developer currently"
     " working for a London-based Fintech"
     " company. He is interested in learning"
     " Natural Language Processing."
)
nlp = spacy.load("en_core_web_sm")
about_doc = nlp(custom_about_text)
print([token for token in about_doc if not token.is_stop])

[Gus, Proto, Python, developer, currently, working, London, -, based, Fintech, company, ., interested, learning, Natural, Language, Processing, .]

In [41]:
type(about_doc)

spacy.tokens.doc.Doc